@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1c1b;
}

::-webkit-scrollbar-thumb {
  background: #3f4816;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9fb06;
}
